<?xml version="1.0" encoding="utf-8"?>
<config>
	<Index>
		<name>项目首页</name>
		<function>
			<create_new>
				<name>添加记录</name>
				<param>
					<title>
						<name>标题</name>
						<value>新的新闻</value>
					</title>
					<body>
						<name>内容</name>
						<value>新华社快讯</value>
					</body>
				</param>
			</create_new>
			<getlist>
				<name>获取记录列表</name>
				<param>
					<page>
						<name>第几页</name>
						<value>1</value>
					</page>
					<num>
						<name>每页数量</name>
						<value>10</value>
					</num>
				</param>
			</getlist>
			<del>
				<name>删除记录</name>
				<param>
					<id>
						<name>记录的id</name>
						<value>1</value>
					</id>
				</param>
			</del>
			<update>
				<name>修改记录</name>
				<param>
					<id>
						<name>记录的id</name>
						<value>10</value>
					</id>
					<title>
						<name>标题</name>
						<value>修改的标题</value>
					</title>
					<body>
						<name>内容</name>
						<value>修改的内容</value>
					</body>
				</param>
			</update>
		</function>
	</Index>

</config>
