<?xml version="1.0" encoding="utf-8"?>
<config>
<Index>
<name>商品首页</name>
<function>
<shop_list>
<name>获取店铺列表</name>
<param>
<shop_type>
<name>店铺类型</name>
<value>0</value>
</shop_type>
<page>
<name>当前页</name>
<value>1</value>
</page>
<num>
<name>每页数量</name>
<value>10</value>
</num>
<last_id>
<name>上级经营者id</name>
<value>0</value>
</last_id>
<search>
<name>搜索名称</name>
<value></value>
</search>
<order>
<name>排序方式</name>
<value></value>
</order>


</param>
</shop_list>

</function>
</Index>

</config>
