<?xml version="1.0" encoding="utf-8"?>
<config> 
  <User> 
    <name>用户操作</name>  
    <function> 
      <login> 
        <name>用户登录</name>  
        <param> 
          <username>
			<name>用户名</name>
			<value>admin</value>
		  </username>  
          <password>
			<name>密码</name>
			<value>admin</value>
		  </password> 
        </param> 
      </login>  
      <reg> 
        <name>用户注册</name>  
		<param> 
          <username>
			<name>用户名</name>
			<value>admin</value>
		  </username>  
          <password>
			<name>密码</name>
			<value>admin</value>
		  </password> 
        </param>
		</reg> 
    </function> 
  </User> 
</config>
